:root {
  --text: rgba(0, 0, 0, 1);
  --error: rgba(250, 28, 28, 1);
  --field-border: rgba(250, 28, 28, 1);
  --field-background: rgba(49, 157, 247, 1);
  --white: rgba(255, 255, 255, 1);
  --gray-600: rgba(147, 151, 173, 1);
  --gray-900: rgba(19, 16, 34, 1);
  --gray-800: rgba(62, 66, 101, 1);
  --gray-500: rgba(180, 183, 201, 1);
  --gray-400: rgba(212, 215, 229, 1);
  --gray-700: rgba(88, 92, 123, 1);
  --gray-100: rgba(243, 246, 255, 1);
  --gray-300: rgba(226, 229, 241, 1);
  --tertiary: rgba(238, 241, 244, 1);
  --gray-200: rgba(239, 242, 252, 1);
  --brandprimary: rgba(99, 102, 241, 1);
  --title-font-family: "Spartan-Bold", Helvetica;
  --title-font-weight: 700;
  --title-font-size: 12px;
  --title-letter-spacing: 0px;
  --title-line-height: normal;
  --title-font-style: normal;
  --input-font-family: "Spartan-Regular", Helvetica;
  --input-font-weight: 400;
  --input-font-size: 12px;
  --input-letter-spacing: 0px;
  --input-line-height: normal;
  --input-font-style: normal;
  --error-font-family: "Spartan-Regular", Helvetica;
  --error-font-weight: 400;
  --error-font-size: 12px;
  --error-letter-spacing: 0px;
  --error-line-height: normal;
  --error-font-style: normal;
  --body-XS-font-family: "Manrope-Regular", Helvetica;
  --body-XS-font-weight: 400;
  --body-XS-font-size: 12px;
  --body-XS-letter-spacing: 0px;
  --body-XS-line-height: 160.0000023841858%;
  --body-XS-font-style: normal;
  --navigation-font-family: "Manrope-SemiBold", Helvetica;
  --navigation-font-weight: 600;
  --navigation-font-size: 16px;
  --navigation-letter-spacing: 0px;
  --navigation-line-height: 160.0000023841858%;
  --navigation-font-style: normal;
  --body-s-font-family: "Manrope-Regular", Helvetica;
  --body-s-font-weight: 400;
  --body-s-font-size: 14px;
  --body-s-letter-spacing: 0px;
  --body-s-line-height: 160.0000023841858%;
  --body-s-font-style: normal;
  --body-m-font-family: "Manrope-Regular", Helvetica;
  --body-m-font-weight: 400;
  --body-m-font-size: 16px;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 160.0000023841858%;
  --body-m-font-style: normal;
  --body-l-font-family: "Manrope-Regular", Helvetica;
  --body-l-font-weight: 400;
  --body-l-font-size: 18px;
  --body-l-letter-spacing: 0px;
  --body-l-line-height: 160.0000023841858%;
  --body-l-font-style: normal;
  --heading-h1-font-family: "Manrope-ExtraBold", Helvetica;
  --heading-h1-font-weight: 700;
  --heading-h1-font-size: 40px;
  --heading-h1-letter-spacing: 0px;
  --heading-h1-line-height: 129.99999523162842%;
  --heading-h1-font-style: normal;
  --body-XL-font-family: "Manrope-Regular", Helvetica;
  --body-XL-font-weight: 400;
  --body-XL-font-size: 20px;
  --body-XL-letter-spacing: 0px;
  --body-XL-line-height: 160.0000023841858%;
  --body-XL-font-style: normal;
  --heading-h2-font-family: "Manrope-ExtraBold", Helvetica;
  --heading-h2-font-weight: 700;
  --heading-h2-font-size: 32px;
  --heading-h2-letter-spacing: 0px;
  --heading-h2-line-height: 129.99999523162842%;
  --heading-h2-font-style: normal;
  --heading-h5-font-family: "Manrope-ExtraBold", Helvetica;
  --heading-h5-font-weight: 700;
  --heading-h5-font-size: 20px;
  --heading-h5-letter-spacing: 0px;
  --heading-h5-line-height: 139.9999976158142%;
  --heading-h5-font-style: normal;
  --heading-h3-font-family: "Manrope-ExtraBold", Helvetica;
  --heading-h3-font-weight: 700;
  --heading-h3-font-size: 28px;
  --heading-h3-letter-spacing: 0px;
  --heading-h3-line-height: 129.99999523162842%;
  --heading-h3-font-style: normal;
  --shadow-s: 0px 2px 6.400000095367432px -1px rgba(19, 16, 34, 0.03),
    0px 4.400000095367432px 12px -1px rgba(19, 16, 34, 0.06);
  --shadow-brand: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  --variable-collection-naranja-1: rgba(243, 78, 30, 1);
  --variable-collection-violeta-1: rgba(75, 25, 113, 1);
}
